
<%
for(var i=0;i<users.length;i++)
{
    %>
    <h1><%=users[i].name%></h1>

    <%
}

%>










<%
for(var i=0;i<friends.length;i++)
{
    %>
    <h1><%=friends[i]%></h1>

    <%
}

%>













<h1>welcome</h1>

<script>
  document.write("welcome");
</script>

<%=name%>
<%=address%>
<%=friends%>

<!--prnting   Syntax ---->
<!-- <%= name %> -->

<!--Logical/ Statement Syntax-->
<!-- <%
var i=0;
for(i=0;i<10;i++)
{
    %>
    <div style="background-color: red; display: inline-block; margin-left: 10px; padding: 10px;">
    <%=i%>

    hello
    </div>
    <%

}

%> -->

<!--if-->


<!-- <%
var i =9;
for(i=0;i<10;i++)
{
if(i%2== 0)
{
    %>
    <h1><%=i%> Is  Even</h1>
    <%
}

else{
    %>
    <h1><%=i%> Is  Odd</h1>
    <%

}
}

%> -->
